[submodule "ui"]
	path = ui
	url = https://github.com/xivilay/scale-remapper-ui
[submodule "external/react-juce"]
	path = external/react-juce
	url = https://github.com/nick-thompson/react-juce
[submodule "external/juce"]
	path = external/juce
	url = https://github.com/juce-framework/JUCE
[submodule "external/roli_blocks_basics"]
	path = external/roli_blocks_basics
	url = https://github.com/WeAreROLI/roli_blocks_basics
